### Create new columns from existing ones  
(three solutions)

In [5]:
# Task: 
# Create new columns for displacement-power ratio, weight per cylinder, acceleration per unit power

In [6]:
# displacement / horsepower
# weight / cylinders
# acceleration / horsepower

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv("./data/auto_mpg.csv",
                 header=0,
                 names = ['MPG', 'Cylinders', 'Displacement', 'Horsepower','Weight',\
                          'Acceleration', 'Model Year', 'Origin'])

df

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Origin
0,18.0,8,307.0,130.0,3504.0,12.0,70,India
1,15.0,8,350.0,165.0,3693.0,11.5,70,India
2,18.0,8,318.0,150.0,3436.0,11.0,70,India
3,16.0,8,304.0,150.0,3433.0,12.0,70,India
4,17.0,8,302.0,140.0,3449.0,10.5,70,India
...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790.0,15.6,82,India
394,44.0,4,97.0,52.0,2130.0,24.6,82,USA
395,32.0,4,135.0,84.0,2295.0,11.6,82,India
396,28.0,4,120.0,79.0,2625.0,18.6,82,India
397,31.0,4,119.0,82.0,2720.0,19.4,82,India

##### 1st solution:

In [9]:
# first (simplest) solution:
df['d_p_h'] = df['Displacement'] / df['Horsepower']
df['w_p_c'] = df['Weight'] / df['Cylinders']
df['a_p_h'] = df['Acceleration'] / df['Horsepower']
df

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Origin,d_p_h,w_p_c,a_p_h
0,18.0,8,307.0,130.0,3504.0,12.0,70,India,2.361538,438.000,0.092308
1,15.0,8,350.0,165.0,3693.0,11.5,70,India,2.121212,461.625,0.069697
2,18.0,8,318.0,150.0,3436.0,11.0,70,India,2.120000,429.500,0.073333
3,16.0,8,304.0,150.0,3433.0,12.0,70,India,2.026667,429.125,0.080000
4,17.0,8,302.0,140.0,3449.0,10.5,70,India,2.157143,431.125,0.075000
...,...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790.0,15.6,82,India,1.627907,697.500,0.181395
394,44.0,4,97.0,52.0,2130.0,24.6,82,USA,1.865385,532.500,0.473077
395,32.0,4,135.0,84.0,2295.0,11.6,82,India,1.607143,573.750,0.138095
396,28.0,4,120.0,79.0,2625.0,18.6,82,India,1.518987,656.250,0.235443
397,31.0,4,119.0,82.0,2720.0,19.4,82,India,1.451220,680.000,0.236585

##### 2nd solution:

In [10]:
# solution using assign()
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.assign.html

In [11]:
df = pd.read_csv("./data/auto_mpg.csv",
                 header=0,
                 names = ['MPG', 'Cylinders', 'Displacement', 'Horsepower','Weight',\
                          'Acceleration', 'Model Year', 'Origin'])

In [12]:
df = df.assign( d_p_h = df['Displacement'] / df['Horsepower'], 
                w_p_c = df['Weight'] / df['Cylinders'],
                a_p_h = df['Acceleration'] / df['Horsepower']
            ) # tu inplace nefunguje...

df

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Origin,d_p_h,w_p_c,a_p_h
0,18.0,8,307.0,130.0,3504.0,12.0,70,India,2.361538,438.000,0.092308
1,15.0,8,350.0,165.0,3693.0,11.5,70,India,2.121212,461.625,0.069697
2,18.0,8,318.0,150.0,3436.0,11.0,70,India,2.120000,429.500,0.073333
3,16.0,8,304.0,150.0,3433.0,12.0,70,India,2.026667,429.125,0.080000
4,17.0,8,302.0,140.0,3449.0,10.5,70,India,2.157143,431.125,0.075000
...,...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790.0,15.6,82,India,1.627907,697.500,0.181395
394,44.0,4,97.0,52.0,2130.0,24.6,82,USA,1.865385,532.500,0.473077
395,32.0,4,135.0,84.0,2295.0,11.6,82,India,1.607143,573.750,0.138095
396,28.0,4,120.0,79.0,2625.0,18.6,82,India,1.518987,656.250,0.235443
397,31.0,4,119.0,82.0,2720.0,19.4,82,India,1.451220,680.000,0.236585

##### 3rd solution:

In [13]:
# solution using insert()
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.insert.html

In [14]:
df = pd.read_csv("./data/auto_mpg.csv",
                 header=0,
                 names = ['MPG', 'Cylinders', 'Displacement', 'Horsepower','Weight',\
                          'Acceleration', 'Model Year', 'Origin'])

In [15]:
df.insert( len(df.columns), column='d_p_h', value=(df['Displacement'] / df['Horsepower']) ) # is always inplace
df.insert( len(df.columns), column='w_p_c', value=(df['Weight']/df['Cylinders']) ) 
df.insert( len(df.columns), column='a_p_h', value=(df['Acceleration'] / df['Horsepower']) )
df

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Origin,d_p_h,w_p_c,a_p_h
0,18.0,8,307.0,130.0,3504.0,12.0,70,India,2.361538,438.000,0.092308
1,15.0,8,350.0,165.0,3693.0,11.5,70,India,2.121212,461.625,0.069697
2,18.0,8,318.0,150.0,3436.0,11.0,70,India,2.120000,429.500,0.073333
3,16.0,8,304.0,150.0,3433.0,12.0,70,India,2.026667,429.125,0.080000
4,17.0,8,302.0,140.0,3449.0,10.5,70,India,2.157143,431.125,0.075000
...,...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790.0,15.6,82,India,1.627907,697.500,0.181395
394,44.0,4,97.0,52.0,2130.0,24.6,82,USA,1.865385,532.500,0.473077
395,32.0,4,135.0,84.0,2295.0,11.6,82,India,1.607143,573.750,0.138095
396,28.0,4,120.0,79.0,2625.0,18.6,82,India,1.518987,656.250,0.235443
397,31.0,4,119.0,82.0,2720.0,19.4,82,India,1.451220,680.000,0.236585